# Build File

/.vs/*

/Time Talker/bld/*

/Time Talker/Time Talker_TemporaryKey.pfx

# Reference Files

/Time Talker/demos/*

/Time Talker/pages/*

# Temperory Files
*.[Cc]ache
[Ss]tyle[Cc]op.*
~$*
*~
*.dbmdl
*.dbproj.schemaview
*.pfx
*publishsettings
