body {
    height: 100%;
    width: 100%;
    color: #555;
    position: absolute;
    left: 30px;
}

#titleBlock {
    padding-top: 2em;
    padding-bottom: 1em;
}

.mainContent {
    width: 94%;
}

#saveButton {
    float:right;
}

#cancelButton {
    float: right;
}
